server:
  port: 8082
spring:
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        locator:
          lower-case-service-id: true
          enabled: true
    gateway:
      routes:
        - id: mall-admin
          uri: lb://mall-admin
          predicates:
            - Path=/mall-admin/**
          filters:
            - SwaggerHeaderFilter
            - StripPrefix=1
        - id: mall-order
          uri: lb://mall-order
          predicates:
            - Path=/mall-order/**
          filters:
            - SwaggerHeaderFilter
            - StripPrefix=1
  application:
    name: mall-gateway
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: debug

